@import "@/styles/colors/colors.css";
@import "@/styles/fontStyles.css";

:root {
  --width-s: 45vw;
  --width-m: 35vw;
  --width-l: 25vw;
  --width-xl: 440px;
  --height: 5vw;
  --height-xl: 66px;
}

#dropbtn {
  align-items: center;
  background-color: initial;
  border-radius: 8px;
  border-width: 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: 18px;
  width: var(--width-xl);
  height: var(--height-xl);
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;

  &:hover {
    background-color: rgba(var(--col-2-rgb), 0.75);
    transition: 450ms;
  }
}

#dropbtn.active {
  border-radius: 8px 8px 0 0;
}
.menubtn {
  width: var(--width-xl);
  height: 30px;
  border: 1px solid var(--col-2);
  text-align: left;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  white-space: nowrap;
  background-color: rgba(var(--col-2-rgb), 0.15);

  &:hover {
    background-color: var(--col-3);
    opacity: 0.9;
    transition: 350ms;
  }
}
.unfollow-btn {
  background-color: rgba(var(--col-2-rgb), 0.15);
  width: max-content;
  font-size: 8px;
  border: 1px solid var(--col-2);
  text-align: left;
  overflow: hidden;
  padding: 0%;

  &:hover {
    background-color: var(--col-3);
    opacity: 0.9;
    transition: 350ms;
  }
}
#search-bar {
  width: var(--width-xl);
  height: 30px;
  background-color: var(--col-3);
  font-family: var(--font-family);
}
.dropdown-content {
  width: var(--width-xl);
}
.scrollable-content {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-line {
  display: flex;
}

@media screen and (max-width: 2200px) {
  #dropbtn {
    width: var(--width-l);
    height: var(--height);
  }
  #search-bar {
    width: var(--width-l);
  }
  .dropdown-content {
    width: var(--width-l);
  }
  .scrollable-content {
    max-height: var(--width-l);
  }
  .menubtn {
    width: var(--width-l);
  }
  .unfollow-btn {
    width: 50px;
    font-size: 8px;
  }
}

@media screen and (max-width: 900px) {
  #dropbtn {
    width: var(--width-m);
  }
  #search-bar {
    width: var(--width-m);
  }
  .dropdown-content {
    width: var(--width-m);
  }
  .scrollable-content {
    max-height: var(--width-m);
  }
  .menubtn {
    width: var(--width-m);
  }
  .unfollow-btn {
    width: 40px;
    font-size: 8px;
  }
}

@media screen and (max-width: 550px) {
  #dropbtn {
    width: var(--width-s);
  }
  #search-bar {
    width: var(--width-s);
    height: 20px;
  }
  .dropdown-content {
    width: var(--width-s);
  }
  .scrollable-content {
    max-height: var(--width-s);
  }
  .unfollow-btn {
    width: 40px;
    font-size: 8px;
  }
  .menubtn {
    width: var(--width-s);
  }
}