@import "./font";

@mixin default {
  @include default-font;
  border: 1px solid var(--col-border);
  border-radius: 8px;
  color: var(--col-fg-default);
  background-color: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

