@import "./font";

@mixin default {
  @include default-font;
  @include border;
  @include radius;
  color: var(--col-fg-default);
  background-color: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border {
  border: 1px solid var(--col-border);
}

@mixin radius {
  border-radius: 8px;
}
