.default {
  border: 1px solid var(--col-border);
  border-radius: 8px;
  font-size: 18px;
  font-family: var(--font-family);
  color: var(--col-fg-default);
  background-color: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

